.respopupoverlay {
    position:fixed;
    z-index:9999;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
}
.respopup {
    z-index:10000;
    position:fixed;
    top: 50%;
    left: 50%;
    background-color:#FFFFFF;
    transform: translate(-50%, -50%);
    padding:10px;
    border:2px solid #C0C0C0;
}
.respopupheader {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:10001;
    padding:0px 10px;
    background-color:#FFFFFF;
    cursor:pointer;
    box-sizing:border-box;
    text-align:center;
    display:none;
    height:35px;
    line-height:35px;
    vertical-align:middle;
}
.respopupheader .closebutton {
    position:absolute;
    top:0px;
    left:10px;
}
.respopupheader .header {
    font-weight:bold;
}
@media screen and (max-width: 767px) {
    .respopup {
        width:100% !important;
        position:absolute;
        left:0px;
        top:0px;
        margin:0px;
        margin-top:35px;
        transform: none;
        padding:0px !important;
        border:0px !important;
    }
}